@import '../core/variables';

.conteinerAboutMain {
    padding: $margin-about-conteiner;
} 

.conteinerAboutOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.conteinerAboutTwo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.conteinerAboutThreeLogo {
   display: flex;
   column-gap: 10px;
   margin-top: 10px;
}

.conteinerAboutThreeLogo div{
   width: 20px;
}
