.imgAbout {
    background-image: url("../../../public/imgs/mainAbout.png");
    height: 380px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 45px 30px;
    border-bottom-right-radius: 45px 30px;
    position: absolute;
    text-align: center;
}