$green-dark-one: #17350e;
$green-dark-two: #4c762b;
$green-dark-trhee: #626f3b;
$green-dark-four: #869e68;
$green-dark-five: #4c762b;
$green-dark-six: #ffffff;
$font-family-title-one: 'Anton SC', sans-serif;
