$green-dark-one: #17350e;
$green-dark-two: #4c762b;
$green-dark-trhee: #626f3b;
$green-dark-four: #869e68;
$green-dark-five: #4c762b;
$green-dark-six: #ffffff;
$text-color-one: #6b7177;
$text-color-two: #2a2c2f;

$font-family-title-one: 'Anton SC', sans-serif;

$font-size-small-title: 12px;
$font-size-middle-title: 20px;
$font-size-paragraph: 12.5px;

$font-weight-small-title: 400;
$font-weight-middle-title: 550;
$font-weight-paragraph: 400;

$margin-about-conteiner: 20px; 
